@using Teema.Models;
@using Teema.Helpers;

@model SubscriptionListModel

@if (Model.Subscriptions.Count() == 0) {
    <p>Hmm, seems like this user hasn't subscribed to any teema yet.</p>
} else {
    <div class="panel-group col-md-12">
        @foreach (string listMember in Model.Subscriptions) {
            <div class="col-lg-2">
                <div class="text-center panel panel-default" style="width:100%">
                    <div class="panel-heading">
                        @Html.ActionLink("#" + listMember, "Show", "Teema", new { teema = listMember }, null)
                    </div>
                </div>
            </div>
        }
    </div>
}
